	<div class="container">
		<div class="row">
			<div class="col-md-4 container" >
				<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/A._S._Bradford_House.JPG">
				<h2>Description</h2>
				<p id="description">Private location near downtown. Cozy 2 bed 1 bath perfect for two interested people. I own the apartment but I do not live there, so you would have the place all to your own. 2 private parking spots included. Big kitchen!</p>
				<h2>About the Owner</h2>
				<p id="owner">Dave is a retired market analyst who owns several apartments in the San Fransisco area. He enjoys local food and drink and goes on hikes with his dog. He loves to travel and has been to 30 different countries.</p>


			</div>
			<div class="col col-md-6 container">
				<div class="row">
					<h1>Cozy Berkeley Home</h1>
					<div class="col-md-10">
					<h3>3 Bed, 2 Bath</h3>
					<h3>$1500/Room per Month</h3>
					</div>
					<div class="col-md-2 text-right">
					 <label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 4.5em; margin-top: 20px;"></span></label>
					</div>
				</div>
				<h2>Interested people listed on the right</h2>
				<button class="btn btn-primary btn-block">Add Myself</button>
				
				<h2>Badges</h2>
				<div class="container badgearea">
					<a href="#" class="thumbnail farbadge">
						<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" alt="Verified ID">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="Connected to Facebook">
					</a>
				</div>
				<button class="btn btn-primary btn-block">Contact Owner</button>
				
			</div>
		</div>
	</div>