<link href="../styles/bootstrap.min.css" rel="stylesheet">
<link href="../styles/cards.css" rel="stylesheet">
<div style="padding-left:0px;padding-right:0px;">
  <div class="container-fluid" style="margin: 0 auto;">
    <div class="row">
      <div class="col-md-3 col-md-offset-3" style="overflow: hidden">
        <h2 class="text-center">Bookmarked Places</h2>
		<!--CARD STARTS HERE-->
		<div class="panel panel-default card">
			<!-- Default panel contents -->

			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object avatar" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/A._S._Bradford_House.JPG" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">$1500/Room</h4>
						<h4 class="media-heading">3 Rooms</h4>
					</div>
				</div>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item">
					<h4>Cozy Home in the Tenderloin District</h4>
				</li>
				<li class="list-group-item badgeContainer">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li><h4>Interested People</h4></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><button type="button" class="btn btn-default">Add Myself</button></li>
						</ul>
					</div>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
				</li>

				<a href='#'><li class="list-group-item cardbutton">Remove Bookmark</li></a>
				<div ng-controller="1ModalCtrl">

					<a ng-click="open()">
						<li class="list-group-item cardbutton">More Info</li>
					</a>
				</div>
			</ul>
		</div>
		<!--CARD ENDS HERE-->
		<!--CARD STARTS HERE-->
		<div class="panel panel-default card">
			<!-- Default panel contents -->

			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object avatar" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/A._S._Bradford_House.JPG" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">$1000/Room</h4>
						<h4 class="media-heading">3 Rooms</h4>
					</div>
				</div>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item">
					<h4>Cozy home in the tenderloin district</h4>
				</li>
				<li class="list-group-item badgeContainer">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li><h4>Interested People</h4></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><button type="button" class="btn btn-default">Add Myself</button></li>
						</ul>
					</div>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
				</li>

				<a href='#'><li class="list-group-item cardbutton">Remove Bookmark</li></a>

				<div ng-controller="2ModalCtrl">
					<script type="text/ng-template" id="profiledetails.html">
						<div class="modal-header">
							<h2 class="modal-title"> Timothy</h2>
						<div class = "modal-body">
							<h4> This doesnt work yet needs to sync with firebase. </h4>
						</div>
						<div class="modal-footer">
				            <button class="btn btn-primary" type="button" ng-click="ok(lg)">OK</button>
				        </div>
				    </script>

					<a ng-click="open()">
						<li class="list-group-item cardbutton">More Info</li>
					</a>
				</div>
			</ul>
		</div>
		<!--CARD ENDS HERE-->
      </div>
      <div class="col-md-3">
        <h2 class="text-center">Bookmarked People</h2>
		<div class="panel panel-default card"><!--Card-->
			<!-- Default panel contents -->

			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object avatar" src="http://puu.sh/l74WX/2677ae32d7.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{card.name}}, {{card.age}} {{card.gender}}</h4>
						<p>{{card.occupation}}</p>
					</div>
				</div>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item badgeContainer">
					<h4>Badges</h4>
					<a href="#" class="thumbnail farbadge">
						<img src="https://jasminepicha.files.wordpress.com/2013/04/5.png" alt="Site Veteran">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="Connected to Facebook">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-white-square-icons-alphanumeric/124273-matte-white-square-icon-alphanumeric-letter-g.png" alt="In Group">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" alt="Verified ID">
					</a>					
				</li>

				<a href='#'><li class="list-group-item cardbutton">Remove Bookmark</li></a>
				<div ng-controller="ModalCtrl">
					<script src="./app/bigplace.js"></script>

					<a ng-click="open()">
						<li class="list-group-item cardbutton">More Info</li>
					</a>
				</div>
			</ul>
		</div><!--Card End-->
		<div class="panel panel-default card"><!--Card-->
			<!-- Default panel contents -->

			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object avatar" src="http://puu.sh/l74WX/2677ae32d7.jpg" alt="...">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{card.name}}, {{card.age}} {{card.gender}}</h4>
						<p>{{card.occupation}}</p>
					</div>
				</div>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item badgeContainer">
					<h4>Badges</h4>
					<a href="#" class="thumbnail farbadge">
						<img src="https://jasminepicha.files.wordpress.com/2013/04/5.png" alt="Site Veteran">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="Connected to Facebook">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-white-square-icons-alphanumeric/124273-matte-white-square-icon-alphanumeric-letter-g.png" alt="In Group">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" alt="Verified ID">
					</a>					
				</li>

				<a href='#'><li class="list-group-item cardbutton">Remove Bookmark</li></a>
				<div ng-controller="ModalCtrl">
					<script type="text/ng-template" id="profiledetails.html">
						<div class="modal-header">
							<h2 class="modal-title"> Timothy</h2>
						<div class = "modal-body">
							<h4> This doesnt work yet needs to sync with firebase. </h4>
						</div>
						<div class="modal-footer">
				            <button class="btn btn-primary" type="button" ng-click="ok(lg)">OK</button>
				        </div>
				    </script>

					<a ng-click="open()">
						<li class="list-group-item cardbutton">More Info</li>
					</a>
				</div>
			</ul>
		</div><!--Card End-->
      </div>
    </div>
  </div>
</div>
