<div class="container">
	<div class="row">
		<div class="col-md-4 container" >
			<img class="img-responsive" src="https://carlyforpresident.com/img/hp-history.jpg">
			<h2>Sleep Time</h2>
			<p>Goes to sleep at</p>
			<h4 id="wakeuptime">7 AM</h4>
			<p>Wakes up at</p>
			<h4 id="sleeptime">11 PM</h4>


			<div class="row">
				<div class="col-md-6">
					<h2>Cleanliness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="clean">8</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Noisiness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="clean">2</h2>
				</div>
			</div>

		</div>
		<div class="col col-md-4 container">
			<div class="row">
				<div class="col-md-6">
					<h1>Carly</h1>
					<h2>40, Female</h2>
				</div>
				<div class="col-md-6 text-right">
					<label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 5em; margin-top: 20px;"></span></label>
				</div>
			</div>
			<button class="btn btn-primary btn-block">Contact</button>
			<button class="btn btn-primary btn-block">Invite to Group</button>
			<h2>About me</h2>
			<p id="description">I want to make this country great again. Sorry, I need a bedroom and am willing to share bathroom. </p>
			<h2>Badges</h2>
			<div class="container badgearea">
				<a href="#" class="thumbnail farbadge">
					<img src="http://1.bp.blogspot.com/-p6boeGo2dWQ/UqLh5tA2mcI/AAAAAAAAAjA/uNuD4PlUH9U/s1600/facebook-logo-3.png" title="image" alt="Mutual Friends">
				</a>
				<a href="#" class="thumbnail farbadge">
					<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR5vWbRyeHtPj79YLTnmHDAYOoAgKx437nRfO8cb5kCz0CHGrjmvxJRQVc" title="image" alt="Alma Mater">
				</a>
			</div>
			<h2>Hobbies</h2>
			<ul id="hobbies" class="list-group">
				<li class="list-group-item">Sports</li>
				<li class="list-group-item">Bar Hopping</li>
				<li class="list-group-item">Creative Arts</li>
			</ul>

		</div>
	</div>
</div>

