
<link href="../styles/bootstrap.min.css" rel="stylesheet">

<div class="col-sm-2 container">
	<h2>People</h2>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="people" class="col-sm-5 control-label">Show People</label>
			<div class="col-sm-7 checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>
		
		<div class="form-group">
			<label for="age" class="col-sm-5 control-label">Min Age</label>
			<div class="col-sm-7">
				<input type="number" id="age" placeholder="From" class="form-control" autofocus>
			</div>
			 <label for="ageto" class="col-sm-5 control-label">Max Age</label>
			<div class="col-sm-7">
				<input type="number" id="agero" placeholder="To" class="form-control" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="verified" class="col-sm-5 control-label">Verified</label>
			<div class="col-sm-7 checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="bed" class="col-sm-5 control-label">Bed Time</label>
			<div class="col-sm-7">
				<input type="range" id="bed" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="clean" class="col-sm-5 control-label">Cleanliness</label>
			<div class="col-sm-7">
				<input type="range" id="clean" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="noise" class="col-sm-5 control-label">Noise</label>
			<div class="col-sm-7">
				<input type="range" id="noise" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">Gender</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-6">
						<label class="checkbox-inline">
							<input type="checkbox" id="femaleRadio" value="Female">Female
						</label>
					</div>
					<div class="col-sm-3">
						<label class="checkbox-inline">
							<input type="checkbox" id="maleRadio" value="Male">Male
						</label>
					</div>
				</div>
			</div>
		</div> <!-- /.form-group -->
	</form> <!-- /form -->
</div> <!-- ./container -->
<div class="col-sm-2 container">
	<h2>Places</h2>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="places" class="col-sm-5 control-label">Show Places</label>
			<div class="col-sm-7 checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>
		
		<div class="form-group">
			<label for="price" class="col-sm-5 control-label">Min Price</label>
			<div class="col-sm-7">
				<input type="number" id="age" placeholder="From" class="form-control" autofocus>
			</div>
			 <label for="priceto" class="col-sm-5 control-label">Max Price</label>
			<div class="col-sm-7">
				<input type="number" id="agero" placeholder="To" class="form-control" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="bookmarks" class="col-sm-5 control-label">Bookmarks</label>
			<div class="col-sm-7 checkbox">
				<label>
					<input type="checkbox">
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="startdate" class="col-sm-5 control-label">Start Date</label>
			<div class="col-sm-7">
				<input type="date" id="startdate" placeholder="From" class="form-control" autofocus>
			</div>
			 <label for="enddate" class="col-sm-5 control-label">End Date</label>
			<div class="col-sm-7">
				<input type="date" id="enddate" placeholder="To" class="form-control" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">Beds</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="1bed" value="1">1
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="2bed" value="2">2
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="3bed" value="3">3
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="4bed" value="4">4
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="5bed" value="5">5
						</label>
					</div>
				</div>
			</div>
		</div> <!-- /.form-group -->
		<div class="form-group">
			<label class="control-label col-sm-5">Baths</label>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="1bath" value="1">1
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="2bath" value="2">2
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="3bath" value="3">3
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="4bath" value="4">4
						</label>
					</div>
					<div class="col-sm-1">
						<label class="checkbox-inline">
							<input type="checkbox" id="5bath" value="5">5
						</label>
					</div>
				</div>
			</div>
		</div> <!-- /.form-group -->
	</form> <!-- /form -->
</div> <!-- ./container -->