<link href="../styles/bootstrap.min.css" rel="stylesheet">
<link href="../styles/cards.css" rel="stylesheet">
<div style="padding-left:0px;padding-right:0px;">
  <div class="container-fluid" style="margin: 0 auto;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center">Pending Groups</h2>
		<!--CARD STARTS HERE-->
		<div class="panel panel-default card">
			<!-- Default panel contents -->

			<div class="panel-body">
				<h2>Scott, Adam, Thomas, Jamie</h2>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item badgeContainer">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li><h4>People</h4></li>
						</ul>
					</div>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
				</li>

				<a href='#'><li class="list-group-item cardbutton">Accept</li></a>
				<a href='#'><li class="list-group-item cardbutton">Decline</li></a>
			</ul>
		</div>
		<!--CARD ENDS HERE-->
		<!--CARD STARTS HERE-->
		<div class="panel panel-default card">
			<!-- Default panel contents -->

			<div class="panel-body">
				<h2>Scott, Adam, Thomas, Jamie</h2>
			</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item badgeContainer">
					<div class="container-fluid">
						<ul class="nav navbar-nav navbar-left">
							<li><h4>People</h4></li>
						</ul>
					</div>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="http://puu.sh/l74WX/2677ae32d7.jpg">
					</a>
				</li>

				<a href='#'><li class="list-group-item cardbutton">Accept</li></a>
				<a href='#'><li class="list-group-item cardbutton">Decline</li></a>
			</ul>
		</div>
		<!--CARD ENDS HERE-->
		
      </div>
	  <div class="col-md-4">
	  <button class="btn btn-lg btn-block btn-primary" type="submit">Go to my group chat</button>
      </div>
    </div>
  </div>
</div>
