<div style="padding-left:130px;padding-right:200px;">
	<h1> Welcome</h1>
	<h4> Find people who you feel comfortable living with. </h4>

	<form ng-app="sampleApp" ng-controller="LoginCtrl" width:350px>
		<fieldset ng-hide="auth">
			<div class="form-group">
				<input type="email" class="form-control" ng-model="email" placeholder="email"/>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" ng-model="password" />
			</div>
			<button type="submit" class="btn btn-default" ng-click="signIn()">Sign In / Sign Up</button>
		</fieldset>
		<span ng-show="auth">
			<button type="submit" class="btn btn-default" ng-click="auth.$logout()">Sign Out</button>
		</span>
	</form>
	<p id="signed_in_as" class="navbar-text navbar-right" ng-show="auth">Signed in as {{email}}</p>
</div>