<div class = "login" ng-app="sampleApp" ng-controller="homeController">
	<div class="col-sm-12">
		<h3>
		Welcome to Roomie. Our goal is to help people like you find roommates
		to live with and places for you to live. Below are some tips for first time users.
		</h3>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
  				<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">Use the <b>map view</b> to find people and places in the areas you want to live!
	    				</p>
	    			</div>
    			</div>
    			<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">
	    				<b>Groups</b> provide a way to hunt for a house or apartment with a group of people that you want to live with!
	    				</p>
	    			</div>
    			</div>
    			<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">Check out someone's <b>badges</b> to see the ways they're verified, or things you have in common with them!
	    				</p>
	    			</div>
    			</div>
    		</div>
    	</div>
	</div>
</div>