<link href="../styles/bootstrap.min.css" rel="stylesheet">
<link href="../styles/cards.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div style="padding-left:0px;padding-right:0px;">
<img src="../app/images/house.png" id="house" style="display: none;">
<img src="../app/images/person.png" id="person" style="display: none;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9" style="overflow: hidden">	
				<div style="position: relative; left: 0; top: 0;">
					<img src="../app/images/map.jpg" style="position: absolute; top: 0px; left: 0px;"/>
					<canvas id="canvas" width="1919" height="975" style="border: 0px solid black; position: relative; top: 0; left: 0;"></canvas>
				</div>
			</div>
			<div id = "cardArea" class="col-md-3">
				<div ui-view="sidebar"></div>
			</div>
		</div>
	</div>
</div>

<script src="../app/js/fabric/dist/fabric.js"></script><!--- This needs to be stuck at the bottom of the page no matter what -->
<script src="../app/map.js"></script>



