<div class="container">
	<div class="row">
		<div class="col-md-4 container" >
			<img class="img-responsive" src="https://38.media.tumblr.com/avatar_23300ab3279a_96.png">
			<h2>Sleep Time</h2>
			<p>Goes to sleep at</p>
			<h4 id="wakeuptime">8 AM</h4>
			<p>Wakes up at</p>
			<h4 id="sleeptime">11 PM</h4>


			<div class="row">
				<div class="col-md-6">
					<h2>Cleanliness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="clean">10</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Noisiness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="clean">1</h2>
				</div>
			</div>

		</div>
		<div class="col col-md-4 container">
			<div class="row">
				<div class="col-md-6">
					<h1>Jared</h1>
					<h2>27, Male</h2>
				</div>
				<div class="col-md-6 text-right">
					<label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 5em; margin-top: 20px;"></span></label>
				</div>
			</div>
			<button class="btn btn-primary btn-block">Contact</button>
			<button class="btn btn-primary btn-block">Invite to Group</button>
			<h2>About me</h2>
			<p id="description">The world's coolest software engineer is looking for a room in the Tenderloin district. I have 3 cats and they are staying with us.</p>
			<h2>Badges</h2>
			<div class="container badgearea">
				<a href="#" class="thumbnail farbadge">	
					<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" title="image" alt="Verified">
				</a>

				<a href="#" class="thumbnail farbadge">
					<img src="http://1.bp.blogspot.com/-p6boeGo2dWQ/UqLh5tA2mcI/AAAAAAAAAjA/uNuD4PlUH9U/s1600/facebook-logo-3.png" title="image" alt="Mutual Friends">
				</a>	
			</div>
			<h2>Hobbies</h2>
			<ul id="hobbies" class="list-group">
				<li class="list-group-item">Sports</li>
				<li class="list-group-item">Gaming</li>
			</ul>

		</div>
	</div>
</div>

