
<div class = "login" ng-app="sampleApp" ng-controller="LoginCtrl">
	<div>
		<h1 class = "center"> Welcome to Roomie </h1>
		<h4 style="margin-top: 20px;" class = "center" > Find people who you feel comfortable living with. </h4>
	</div>

	<div class="col-sm-12">
		<div class="container alert" style="height: 100px; width: 400px">
			<div class = "container alert" ng-show="alertcheck" style="width: 400px">
				<uib-alert type="{{alert.class}}">
					{{alert.message}}
				</uib-alert>
			</div>
		</div>
		<div ng-show="auth" style="height: 50px">
			<p class="center" style="padding-top: 15px">Signed in as {{email}}</p>
		</div>

		<h3>Use Roomie to find roommates you love, and a place you actually want to live.</h3>
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
  				<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">Use the <b>map view</b> to find people and places in the areas you want to live!
	    				</p>
	    			</div>
    			</div>
    			<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">
	    				<b>Groups</b> provide a way to hunt for a house or apartment with a group of people that you want to live with!
	    				</p>
	    			</div>
    			</div>
    			<div class="col-md-4">
    				<div class="well">
	    				<p class="tutorial_p">Check out someone's <b>badges</b> to see the ways they're verified, or things you have in common with them!
	    				</p>
	    			</div>
    			</div>
    		</div>
    	</div>
	</div>

		<form style="width:350px center">
			<fieldset ng-hide="auth" class="center">
				<div class="form-group center">
					<input type="email" class="form-control" ng-model="email" placeholder="email"/>
				</div>
				<div class="form-group center">
					<input type="password" class="form-control" placeholder="password" ng-model="password" />
				</div>
				<button type="submit" class="btn btn-primary center" ng-click="signIn()">Sign In / Sign Up</button>
			</fieldset>
			<div ng-show="auth" class="center">
				<button type="submit" class="btn btn-primary center" onClick="parent.location='#/profile'">Let's fill out my profile!</button>
			</div>
			<br>
			<div ng-show="auth" class="center">
				<button type="submit" class="btn btn-primary center" ng-click="removeUser()">Sign Out</button>
			</div>
		</form>

	</div>
</div>