<div>
<div ng-controller="MyController">
<img src="./app/images/house.png" id="house" style="display:none">
<img src="./app/images/person.png" id="person" style="display:none">

<div id="dialogPerson" title="More Info">
<div class="container">
	<div class="row">
		<div class="col-md-4 container" >
			<img id="personavatar" class="img-responsive" src="https://38.media.tumblr.com/avatar_23300ab3279a_96.png">
			<h2>Sleep Time</h2>
			<p>Goes to sleep at</p>
			<h4 id="wakeuptime">8 AM</h4>
			<p>Wakes up at</p>
			<h4 id="sleeptime">11 PM</h4>


			<div class="row">
				<div class="col-md-6">
					<h2>Cleanliness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="cleanp">10</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h2>Noisiness</h2>
				</div>
				<div class="col-sm-2">
					<h2 id="noisy">1</h2>
				</div>
			</div>

		</div>
		<div class="col col-md-4 container">
			<div class="row">
				<div class="col-md-6">
					<h1 id="bignameperson">Jared</h1>
					<h2 id="agesex">27, Male</h2>
				</div>
				<div class="col-md-6 text-right">
					<label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 5em; margin-top: 20px;"></span></label>
				</div>
			</div>
			<button class="btn btn-primary btn-block">Contact</button>
			<button class="btn btn-primary btn-block">Invite to Group</button>
			<h2>About me</h2>
			<p id="description">The world's coolest software engineer is looking for a room in the Tenderloin district. I have 3 cats and they are staying with us.</p>
			<h2>Badges</h2>
			<div id="bigpersonbadges" class="container badgearea">
				<a href="#" class="thumbnail farbadge">	
					<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" title="image" alt="Verified">
				</a>

				<a href="#" class="thumbnail farbadge">
					<img src="http://1.bp.blogspot.com/-p6boeGo2dWQ/UqLh5tA2mcI/AAAAAAAAAjA/uNuD4PlUH9U/s1600/facebook-logo-3.png" title="image" alt="Mutual Friends">
				</a>	
			</div>
			<h2>Hobbies</h2>
			<ul id="hobbies" class="list-group">
				<li class="list-group-item">Sports</li>
				<li class="list-group-item">Gaming</li>
			</ul>

		</div>
	</div>
</div>


</div>

<div id="dialogPlace" title="More Info">
	<div class="container">
		<div class="row">
			<div class="col-md-4 container" >
				<img id="placeavatar" class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/6/6b/A._S._Bradford_House.JPG">
				<h2>Description</h2>
				<p id="description">Private location near downtown. Cozy 2 bed 1 bath perfect for two interested people. I own the apartment but I do not live there, so you would have the place all to your own. 2 private parking spots included. Big kitchen!</p>
				<h2>About the Owner</h2>
				<p id="owner">Dave is a retired market analyst who owns several apartments in the San Fransisco area. He enjoys local food and drink and goes on hikes with his dog. He loves to travel and has been to 30 different countries.</p>


			</div>
			<div class="col col-md-6 container">
				<div class="row">
					<h1 id="title">Cozy Berkeley Home</h1>
					<div class="col-md-10">
					<h3 id="bedbath">3 Bed, 2 Bath</h3>
					<h3 id="placeprice">$1500/Room per Month</h3>
					</div>
					<div class="col-md-2 text-right">
					 <label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 4.5em; margin-top: 20px;"></span></label>
					</div>
				</div>
				<!--h2>Interested people listed on the right</h2>
				<button class="btn btn-primary btn-block">Add Myself</button-->
				
				<h2>Interested People</h2>
				<div id="biginterestedpeople" class="container badgearea">
					<a href="#" class="thumbnail farbadge">
						<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" alt="Verified ID">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="Connected to Facebook">
					</a>
				</div>
				
				<h2>Badges</h2>
				<div id="bigplacebadges" class="container badgearea">
					<a href="#" class="thumbnail farbadge">
						<img src="http://www.clker.com/cliparts/D/z/C/2/q/E/check-mark-md.png" alt="Verified ID">
					</a>
					<a href="#" class="thumbnail farbadge">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" alt="Connected to Facebook">
					</a>
				</div>
				<button class="btn btn-primary btn-block">Contact Owner</button>
				
			</div>
		</div>
	</div>
</div>


<div style="padding-left:0px;padding-right:0px;">
	<div class="container-fluid">
		<div class="btn-group" uib-dropdown is-open="status.isopen" auto-close='disabled'>
			<!-- filter -->
			<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
				Filter by ... <span class="caret"></span>
			</button>
			<ul class="uib-dropdown-menu" style="width:300px" aria-labelledby="single-button">
				<!--button type="button" class="btn btn-primary btn-block" onclick="resetFilters()">Reset</button-->
				<label class="col-sm-12 control-label"><h3><center>People</center></h3></label>
				
				<div class="col-sm-12">
					<label for="verified" class="col-sm-5 control-label">Show People</label>
					<div class="col-sm-7 checkbox">
						<label>
							<input type="checkbox" class="filters" id="showpeople" checked>
						</label>
					</div>
				</div>
				
				<div class="col-sm-12">
					<label for="age" class="col-sm-5 control-label">Min Age</label>
					<div class="col-sm-7">
						<input type="number" id="age" placeholder="From" class="filters form-control" autofocus>
					</div>
				</div>

				<div class="col-sm-12">
					<label for="ageto" class="col-sm-5 control-label">Max Age</label>
					<div class="col-sm-7">
						<input type="number" id="agero" placeholder="To" class="filters form-control" autofocus>
					</div>
				</div>

				<div class="col-sm-12">
					<label for="verified" class="col-sm-5 control-label">Verified</label>
					<div class="col-sm-7 checkbox">
						<label>
							<input type="checkbox" class="filters" id="ver">
						</label>
					</div>
				</div>

				<div class="col-sm-12">
					<label for="clean" class="col-sm-5 control-label">Cleanliness</label>
					<div class="col-sm-7">
						<input type="range" min="1" max="10" step="1" id="clean" class="filters form-control">
					</div>
				</div>

				<div class="col-sm-12">
					<label for="noise" class="col-sm-5 control-label">Noise</label>
					<div class="col-sm-7">
						<input type="range" min="1" max="10" step="1"  id="noise" class="filters form-control">
					</div>
				</div>

				<div class="col-sm-12">
					<label class="col-sm-4 control-label">Gender</label>
					<div class="col-sm-5">
						<label class="checkbox-inline">
							<input type="checkbox" class="filters" id="femaleRadio" value="Female" checked>Female
						</label>
					</div>
					<div class="col-sm-3">
						<label class="checkbox-inline">
							<input type="checkbox" class="filters" id="maleRadio" value="Male" checked>Male
						</label>
					</div>
				</div>

				<li class="divider"></li>


				<label class="col-sm-12 control-label"><h3><center>Places</center></h3></label>

				<div class="col-sm-12">
					<label for="verified" class="col-sm-5 control-label">Show Places</label>
					<div class="col-sm-7 checkbox">
						<label>
							<input type="checkbox" class="filters" id="showplaces"  checked>
						</label>
					</div>
				</div>

				<div class="col-sm-12">			

					<label for="price" class="col-sm-5 control-label">Min Price</label>
					<div class="col-sm-7">
						<input type="number" id="price" placeholder="From" class="filters form-control" autofocus>
					</div>
				</div>

				<div class="col-sm-12">
					<label for="priceto" class="col-sm-5 control-label">Max Price</label>
					<div class="col-sm-7">
						<input type="number" id="pricero" placeholder="To" class="filters form-control" autofocus>
					</div>
				</div>

				<div class="col-sm-12">
					<label class="control-label col-sm-6">Beds</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bedtoggler" id="1bed" value="1" checked>1
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bedtoggler" id="2bed" value="2" checked>2
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bedtoggler" id="3bed" value="3" checked>3
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bedtoggler" id="4bed" value="4" checked>4
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bedtoggler" id="5bed" value="5" checked>5
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12">
					<label class="control-label col-sm-6">Baths</label>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bathtoggler" id="1bath" value="1" checked>1
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bathtoggler" id="2bath" value="2" checked>2
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bathtoggler" id="3bath" value="3" checked>3
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bathtoggler" id="4bath" value="4" checked>4
								</label>
							</div>
							<div class="col-sm-1">
								<label class="checkbox-inline">
									<input type="checkbox" class="filters bathtoggler" id="5bath" value="5" checked>5
								</label>
							</div>
						</div>
					</div>
				</div>
			</ul>
			<button id="reset-button" type="button" onclick="resetFilters()" class="btn btn-primary">
				Reset Filters
			</button>
		</div>
	</div>

	<div class="row">
		<div style="padding-left:0px;padding-right:0px;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9" style="overflow: hidden">	
						<div style="position: relative; left: 0; top: 0;">
							<img src="./app/images/map.jpg" style="position: absolute; top: 0px; left: 0px;"/>
							<canvas id="canvas" width="1919" height="975" style="border: 0px solid black; position: relative; top: 0; left: 0;"></canvas>
							
						</div>
					</div>
					<div id = "cardArea" style="height: 975px; overflow-y: scroll;" class="scrollbar col-md-3">
						<div ui-view="sidebar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>