	<div class="container">
		<div class="row">
			<div class="col-md-4 container" >
				<img class="img-responsive" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQyhaAAUQGygb1AqLdfv6ni-N6R9Ej89I3Vfa_hOLDQjbYukmae">
				<h2>Description</h2>
				<p id="description">Great apartment with lots of natural light.</p>
				<h2>About the Owner</h2>
				<p id="owner">Great spot near all the fun clubs. Nice new toilet.",
            "owner": "Kate wants quiet tenants who won't throw huge parties.</p>


			</div>
			<div class="col col-md-5 container">
				<div class="row">
					<h1>Great Apartment with Lots of Natural Light</h1>
					<div class="col-md-10">
					<h3>2 Bed, 1 Bath</h3>
					<h3>$1700/Room per Month</h3>
					</div>
					<div class="col-md-2 text-right">
					 <label><input type="checkbox" class="bm" name="checkbox" value="value" hidden><span class="bmlabel glyphicon glyphicon-star-empty" style="font-size: 4.5em; margin-top: 20px;"></span></label>
					</div>
				</div>
				<h2>Interested people listed on the right</h2>
				<button class="btn btn-primary btn-block">Add Myself</button>
				
				<h2>Badges</h2>
				<div class="container badgearea">
					
				</div>
				<button class="btn btn-primary btn-block">Contact Owner</button>
				
			</div>
			<div class="col-md-1">
				<span class="glyphicon glyphicon-remove-sign" ng-click="ok()"></span>
			</div>
		</div>