  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/map">Map</a></li>
        <li><a href="#/bookmarks">Bookmarks</a></li>
        <li><a href="#/contacted">Contacts</a></li> 
        <li><a href="#/groups">Group</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/">Notifications</a></li>
        <li>

          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-hasapopup="true" aria-expanded="true">
            Profile
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#/basic-profile">Basic</a></li>
            <li><a href="#/advanced-profile">Advanced</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </body>
  <br/>