  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/map">Map</a></li>
        <li><a href="#/bookmarks">Bookmarks</a></li>
        <li><a href="#/contacted">Contacts</a></li> 
        <li><a href="#/groups">Group</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/profile">My Profile</a></li>
        <li><a href="#/">Log Out</a></li>
      </ul>
    </nav>
  </body>
  <br/>