 <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script-->
<script src="../js/bootstrap.min.js"></script>

 <div style="padding-left:130px;padding-right:200px;">
   <h1>Welcome to Find-a-Roomie</h1>
  <p>This is simple angular ng-view and ng-route tutorial to demonstrate single page web app development.</p>
  <p>
    This is executed because of this code. asdasd
    <pre>
      <code>
        .when('/bookmarks',{
              templateURl: 'views/bookmarks.html'
        })
      </code>
    </pre>
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Read tutorial</a></p>
</div>
